@*
    //----------------------------------------------------------------------------------
    // Copyright (c) Microsoft Corporation. All rights reserved.
    //
    // THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
    // EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES
    // OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
    //----------------------------------------------------------------------------------
    // The example companies, organizations, products, domain names,
    // e-mail addresses, logos, people, places, and events depicted
    // herein are fictitious.  No association with any real company,
    // organization, product, domain name, email address, logo, person,
    // places, or events is intended or should be inferred.
*@

@{
    ViewBag.Title = "Home";
}
@*Header Section*@
<div class="jumbotron">
    <h2>Azure Blob Storage Photo Gallery</h2>
    <h5>Azure Blob storage is a service for storing large amounts of unstructured data, such as text or binary data, that can be accessed from anywhere in the world via HTTP or HTTPS. You can use Blob storage to expose data publicly to the world, or to store application data privately.</h5>
    <span>
        @*What is a Storage Account ACOM Link*@
        <a class="btn btn-default" href="http://azure.microsoft.com/en-us/documentation/articles/storage-whatis-account/" target="_blank">What is a Storage Account &raquo;</a>
        @*Getting Started with Blobs ACOM Link*@
        <a class="btn btn-default" href="https://azure.microsoft.com/en-us/documentation/articles/storage-dotnet-how-to-use-blobs/" target="_blank">Getting Started with Blobs &raquo;</a>
    </span>
</div>
